Repository wecount-dev/wecount, pull requests merged in 2021-07, with the labels that each got.

#1 Add LICENSE and docs
  CLA.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
Labels: 📖 documentation

#2 Update packages and postcss setup
  CODE_OF_CONDUCT.md
  package.json
  postcss.config.js
  rollup.config.js
  yarn.lock
Labels: ✨ config, 🗃 update packages

#5 Setup dotenv
  .env.sample
  .gitignore
  package.json
  rollup.config.js
  tsconfig.json
Labels: ✨ config, ❄️ types

#6 Install supabase and configure routes
  .eslintrc.js
  .vscode/settings.json
  jest.config.js
  package.json
  src/App.svelte
  src/components/navigations/Auth.svelte
  src/components/navigations/Main.svelte
  src/components/navigations/root.ts
  src/components/pages/Intro.svelte
  src/components/pages/Profile.svelte
  src/components/pages/SignIn.svelte
  src/components/pages/Temp.svelte
  src/components/pages/__tests__/__snapshots__/Intro.test.ts.snap
  src/components/uis/Button.svelte
  src/lib/db.ts
  src/stores/sessionStore.ts
  src/stores/userStore.ts
  yarn.lock
Labels: :hammer_and_pick: integration, ✨ config

#7 Sign in page enhancements
  src/components/pages/Profile.svelte
  src/components/pages/SignIn.svelte
  yarn.lock
Labels: 🍗 enhancement

#4 Add more recommended code extensions
  .vscode/extensions.json
Labels: ✨ config
